<div id="offcanvas-cart" class="offcanvas offcanvas-cart">
    <div class="inner">
        <div class="head">
            <span class="title">Cart</span>
            <button class="offcanvas-close">×</button>
        </div>
        <div class="body customScroll">
            <ul class="minicart-product-list">
                <form method='POST'>
                    {% csrf_token %}
                    {% for post  in cartmodel %}
                    
               
                
                <li>

                    <a href="single-product.html" class="image"><img src="{{ post.image.url }}" alt="Cart product Image"></a>
                    <div class="content">
                        <a href="single-product.html" class="title">{{ post.title }}</a>
                        <span class="quantity-price">{{ post.cart_count }} x <span class="amount">${{ post.price }}</span></span>
                        <a href="{% url 'deleteview' post.id %}" style="color:red">delete</a>
                        <!-- <input type="hidden" name="deleteid" value={{ post.id }}>
                        <button type="submit" >x</button> -->
                       
                        
                    </div>
                </li> 
                {% endfor %}
               </form>
            </ul>
        </div>
        <div class="foot">
            <div class="buttons mt-30px">
                <a href="{% url 'cartview' %}" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                <a href="checkout.html" class="btn btn-outline-dark current-btn">checkout</a>
            </div>
        </div>
    </div>
</div>
    